@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");

:root {
  --primary-font: "Jost", sans-serif;
  --secondary-font: "Lustria", sans-serif;
}

.resetter {
  -webkit-font-smoothing: antialiased;
}
.resetter * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.resetter ul,
.resetterol {
  list-style: none;
}

.resetter a {
  text-decoration: none;
  color: inherit;
}

.resetter button,
.resetter input,
.resetter textarea {
  border: none;
  outline: none;
  background: none;
}

.custom-page-width {
  max-width: 1440px;
  margin: auto;;
}
/* CTA */ 
.custom-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 12px 24px;
  max-width: fit-content;
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20.48px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  box-shadow: none;
  border: none;
}

/* CTA - PRIMARY BUTTON */
.custom-cta.primary {
  background: #000;
  transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-image: linear-gradient(to right, #fff544 0%, #fff544 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  color: #fff;
}

.custom-cta.primary svg path {
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}

.custom-cta.primary:hover {
  background-size: 100% 100%;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.custom-cta.primary:hover svg path {
  fill: #000;
}

/* **Apply reverse animation when mouse leaves** */
.custom-cta.primary:not(:hover) {
  background-size: 0% 100%;
  transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
}

.custom-cta.primary:not(:hover) svg path {
  fill: #fff;
}

/* CTA - SECONDARY BUTTON */
.custom-cta.secondary {
  background: #fff544;
  transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-image: linear-gradient(to right, #000 0%, #000 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  color: #000;
}

.custom-cta.secondary svg path {
  fill: #000;
  transition: fill 0.3s ease-in-out;
}

.custom-cta.secondary:hover {
  background-size: 100% 100%;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.custom-cta.secondary:hover svg path {
  fill: #fff;
}

/* **Apply reverse animation when mouse leaves** */
.custom-cta.secondary:not(:hover) {
  background-size: 0% 100%;
  transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.custom-cta.secondary:not(:hover) svg path {
  fill: #000;
}